:root {
--darkBlue: #3A5F7C;
--lightBlue: #54C9CD;
--grey: #D2ECE1;
--sand: #EDD6BE;
--red: #E04852;
}

* {
    color: black;
}

html {
    background-color: var(--sand);
}

ul {
    padding: 0px;
}

li{
    list-style-type: none;
}

.adsList li:hover {
    background-color: var(--grey);
}
button {
    color: var(--lightBlue);
}